html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    max-height: 1000px;
    min-height: 1000px;
    background: #ececec;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#root {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    width: 980px;
    background: #FFF;
}

#upper-banner a {
    color: #626262;
}

#upper-banner {
    height: 20px;
    background: #F3F3F3;
    font-size: 14px;
    text-align: right;
}

#upper-info {
    position: relative;
    right: 10px;
    top: 3px;
}

#logo-menu {
    height: 150px;
    border-bottom: 3px solid #C9C9C9;
}

#logo {
    height: 150px;
    width: 350px;
    float: left;
}


/* START: Menu */

#menu-contener {
    float: left;
    width: 630px;
}

#menu {
    position: relative;
    padding: 3px 5%;
    top: 30px;
    text-align: center;
    font-size: 24px;
}

#menu li {
    display: inline;
    border-right: 1px solid gray;
    padding: 0 10px;
}

#menu a {
    color: #666;
    font: bold 0.8em Arial, sans-serif;
    text-decoration: none;
}

#menu a:hover {
    color: #333;
}


/* END: Navbar */


/* START: Landing page */

#slider {
    height: 190px;
    ;
    text-align: center;
    font-size: 100px;
    background: #666;
}

#content {
    width: 600px;
    max-height: 615px;
    margin: 0 auto;
    padding: 10px;
}

#content-text {
    text-align: center;
    color: #3C3C3C;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;
}

/* END: Landing page */


/* START: Footer */

#footer {
    background: #666;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-contener {
    width: 240px;
    height: 100px;
    float: left;
}

#menu-bottom a {
    color: #DEDEDE;
}

#menu-bottom a:hover {
    color: #DEDEDE;
    text-decoration: underline;
}

#menu-bottom {
    position: relative;
    top: -10px;
    list-style-type: none;
}

#info-bottom {
    position: relative;
    top: 15px;
    color: #DEDEDE;
}

#info-bottom a {
    color: #C6C6C6;
}

.bottom-description-info {
    text-align: center;
    padding: 5px;
    color: #DEDEDE;
    font-weight: bold;
}

/* END: Footer */


/* START: Contact */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100px;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

/* END: Contact */