#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
    outline: none;
    font-weight:bold;
}

ul {
    list-style: none;
    padding: 0;
}

#services-list li{
    margin: 10px;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
}
#services-list .header  {
    background: #CDDC39;
}
#services-list .element  {
    background: #BBBBBB;
    margin-left: 30px;
}
#services-list .element span {
    font-weight: 600;
    margin-left: 40px;
}

#main{
    background-color: #F7F7F7;
}


