<!DOCTYPE html>
<html lang="PL-pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Panel Administracyjny</title>

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="lib/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="css/simple-sidebar.css" rel="stylesheet">

    <script src="lib/underscore-min.js"></script>
    <script src="lib/collapsible-list.js"></script>

    <script src="js/dbConnection.js"></script>

    <!--callbacks for db interactions-->
    <script>
        function getServicesCallback(responseJson){
            var json = JSON.parse(responseJson);
            $.each(json, function(i, cat){
                var category = addCategory(cat.kategoriaNazwa, cat.id);
                $.each(cat.elementy, function(j, elem){
                    addCategoryElement(category, elem.elementNazwa, elem.cena, elem.id);
                });
            });

            sortCategories();
            var collapsible = $('#services-list').collapsibleList('.header',{
                animate: true
            });
        }
        function postEventCallback(response){
            console.log(response);
            //getEvents($currentTable, getEventsCallback);
        }
        function deleteEventCallback(response){
            //getEvents($currentTable, getEventsCallback);
        }
    </script>

    <script>
        var $categoryTemplateHTML = `
            <li class="header" data-category-id="<%= categoryID %>">
                <input type="text" onkeyup="handleEventNameInput(this)" value="<%= categoryName %>" class="element-name form-control">
                    <button type="button" class="category-button btn btn-warning btn-sm" onclick="removeCategory(this)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="category-button btn btn-warning btn-sm" onclick="addNewCategoryElement(this)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
            </li>
            <ul>
            </ul>
        `;
        var $categoryElementTemplateHTML = `
            <li class="element" data-category-id="<%= elementID %>">
                <input type="text" onkeyup="handleEventNameInput(this)" value="<%= elementName %>" class="element-name form-control">
                <button type="button" class="remove-button btn btn-warning btn-sm" onclick="removeCategoryElement(this)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <input type="text" onkeyup="handleEventNameInput(this)" value="<%= elementPrice %>" class="element-price form-control">
            </li>
        `;
        var $categoryTemplate = _.template($categoryTemplateHTML);
        var $categoryElementTemplate = _.template($categoryElementTemplateHTML);

        var $newEventName = '';
        var $changed = false;

        function sortCategories() {
            var mainUl = $('#services-list');
            var headers = mainUl.children('li').get();

            headers.sort(function(a, b) {
                var compA = $(a).find('.element-name').val().toUpperCase();
                var compB = $(b).find('.element-name').val().toUpperCase();
                return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
            })

            $.each(headers, function(idx, header) {
                var items = $(header).next();
                mainUl.append(header);
                mainUl.append(items);
            });
        }

        function updateField(inputField){
            if($(inputField).parent().hasClass('header')){ // categoryName field
                var id = $(inputField).parent().data('category-id');
                postServiceCategory(id, $(inputField).val(), postEventCallback);
            }
            else if($(inputField).parent().hasClass('element')){ // element
                if($(inputField).hasClass('element-name')){ // elementName field

                }
                else if($(inputField).hasClass('element-price')){ // elementPrice field
                    console.log('element price');

                }
            }
        }

        function handleEventNameInput(input){
            if(event.keyCode == 13 && $changed){
                updateField(input);
            }
            $newEventName = input.value;
            $changed = true;
        }

        function addCategory(categoryName, categoryID) {
            var mainUl = $('#services-list');
            if(categoryName == null){
                categoryName = 'Nowa kategoria';
                categoryID = '';
            }
            return $($categoryTemplate({categoryName: categoryName, categoryID: categoryID})).appendTo(mainUl);
        }

        function removeCategory(categoryRemoveButton){
            var mainUl = $('#services-list');
            var category = $(categoryRemoveButton).parent();
            category.next().remove();
            category.remove();
        }

        function addNewCategoryElement(categoryElementButton){
            var correspondingUl = $(categoryElementButton).parent().next();
            $counter++;
            correspondingUl.prepend($categoryElementTemplate({elementName: 'Nowy element', elementPrice: $counter}));
        }

        function addCategoryElement(category, elementName, elementPrice, elementID){
            var correspondingUl = category.first().next();
            var catElement = $categoryElementTemplate({elementName: elementName, elementPrice: elementPrice, elementID: elementID});
            correspondingUl.append(catElement);
        }

        function removeCategoryElement(categoryElementRemoveButton){
            var element = $(categoryElementRemoveButton).parent() ;
            element.remove();
        }
    </script>

    <script>
        $(document).ready(function () {
            getServices(getServicesCallback);
        });
    </script>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</head>

<body>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h4>Panel Administracyjny</h4>
            </li>
            <li>
                <a class="active" href="admin_cennik.html">Modyfikuj usługi</a>
            </li>
            <li>
                <a href="admin_terminy.html">Podgląd i edycja terminarza</a>
            </li>
            <li>
                <a href="admin_jumbotron.html">Zmień jumbotron</a>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <a href="#">Wyloguj</a>
            </li>

        </ul>
    </div>
    <button href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span
            class="glyphicon glyphicon-menu-hamburger"></span></button>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-10 col-md-offset-1" id="services">
                        <h2>Dostępne usługi</h2>

                        <button type="button" class="btn btn-primary btn-xl" onclick="addCategory()">Dodaj katergorię</button>

                        <ul id="services-list">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
