<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF8"/>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-2"/>
    <meta http-equiv="Content-Language" content="pl"/>
    <script src='lib/jquery.min.js'></script>

    <link rel="stylesheet" href="css/style.css"/>

    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald:700&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>

    <!--smooth scroll-->
    <script>
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top - 40
                        }, 750);
                        return false;
                    }
                }
            });
        });

    </script>

    <!--data base connection-->
    <script src='js/dbConnection.js'></script>

    <!--calendar-->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link rel='stylesheet' href='css/fullcalendar.css'/>
    <script src='lib/moment.min.js'></script>
    <script src='lib/fullcalendar.js'></script>
    <script src='lib/pl.js'></script>
    <script>
        $(document).ready(function () {
            $('#calendar-element').fullCalendar({
                defaultView: 'agendaWeek',
                allDaySlot: false,
                minTime: "06:00:00",
                maxTime: "22:00:00",
                firstDay: 1,
                businessHours: {
                    start: '7:00',
                    end: '20:00',
                    dow: [1, 2, 3, 4, 5, 6]
                },
                height: "auto",
                lang: "pl",
                hiddenDays: [0],
                header: {
                    left:  'today prev,next',
                    right: 'agendaWeek, month'
                },
                allDayDefault: false
            })
        });
    </script>
    <script>
        function callbackEcho(responseJson){
            var json = JSON.parse(responseJson);
            $('#calendar-element').fullCalendar('removeEvents');
            $('#calendar-element').fullCalendar('addEventSource', json);
        }
    </script>
    <script>
            getEvents('klimatyzacje', callbackEcho);
    </script>
    <script>
        $(document).ready(function(){
            $('#ogolne-button').click(function(){
                getEvents('ogolne', callbackEcho);
            });
            $('#klimatyzacje-button').click(function(){
                getEvents('klimatyzacje', callbackEcho);
            });
        });
    </script>

    <!--accordion -->
    <script src="lib/collapsible-list.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script>
        function getServicesCallback(responseJson){
            var json = JSON.parse(responseJson);
            $.each(json, function(i, cat){
                var category = addCategory(cat.kategoriaNazwa);
                $.each(cat.elementy, function(j, elem){
                    addCategoryElement(category, elem.elementNazwa, elem.cena);
                });
            });

            sortCategories();
            var collapsible = $('#services-list').collapsibleList('.header',{
                search: $('#search'),
                animate: true
            });
        }
    </script>
    <script>
        var $categoryTemplateHTML = `
            <li class="header"><%= categoryName %></li>
            <ul>
            </ul>
        `;
        var $categoryElementTemplateHTML = `
            <li class="element"> <%= elementName %>
                <span class="price"> <%= elementPrice %> </span>
            </li>
        `;
        var $categoryTemplate = _.template($categoryTemplateHTML);
        var $categoryElementTemplate = _.template($categoryElementTemplateHTML);

        function sortCategories() {
            var mainUl = $('#services-list');
            var headers = mainUl.children('li').get();

            headers.sort(function(a, b) {
                var compA = $(a).text().toUpperCase();
                var compB = $(b).text().toUpperCase();
                return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
            })

            $.each(headers, function(idx, header) {
                var items = $(header).next();
                mainUl.append(header);
                mainUl.append(items);
            });
        }

        function addCategory(categoryName) {
            var mainUl = $('#services-list');
            if(categoryName == null){
                categoryName = 'Nowa kategoria';
            }
            return $($categoryTemplate({categoryName: categoryName})).appendTo(mainUl);
        }

        function addCategoryElement(category, elementName, elementPrice){
            var correspondingUl = category.first().next();
            var catElement = $categoryElementTemplate({elementName: elementName, elementPrice: elementPrice});
            correspondingUl.append(catElement);
        }
    </script>
    <script>
        function sort() {
            var mainUl = $('#services-list');
            var headers = mainUl.children('li').get();

            headers.sort(function(a, b) {
                var compA = $(a).text().toUpperCase();
                var compB = $(b).text().toUpperCase();
                return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
            })

            $.each(headers, function(idx, header) {
                var items = $(header).next('li');
                mainUl.append(header);
                mainUl.append(items);
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            getServices(getServicesCallback);
        });
    </script>
</head>

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Auto Serwis</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#top">Start<span class="sr-only">(current)</span></a></li>
                    <li><a href="#offer">Oferta</a></li>
                    <li><a href="#services_section">Usługi</a></li>
                    <li><a href="#calendar">Terminy</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--<div class="navbar-spacer"></div>-->

<section id="jumbotron">
    <div id="jumbotron-text">
        <p id="name">AUTO SERWIS</p>
        <p id="cv">
            Instalacje gazowe</br>
            Mechanika pojazdu
        </p>
    </div>
</section>

<section id="offer" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>OFERTA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="media-object hidden-xs hidden-sm " src="images/rep1.png" alt="rep1"> Mechanika ogólna wszystkich
            marek samochodów. Elektronika i elektryka pojazdowa. Wymiany oleju i filtrów. Przeglądy okresowe. Montaż
            radioodbiorników i sprzętu audio.
        </div>
        <div class="col-md-4">
            <img class="media-object hidden-xs hidden-sm" src="images/rep2.png" alt="rep2"> Montaż samochodowych
            instalacji LPG wszystkich typów. Montaż instalacji CNG. Naprawy i regulacje wszystkich typów instalacji
            Auto-Gaz.
        </div>
        <div class="col-md-4">
            <img class="media-object hidden-xs hidden-sm" src="images/rep3.png" alt="rep1"> Napełnianie klimatyzacji
            samochodowej. Diagnostyka klimatyzacji. Naprawa klimatyzacji samochodowej. Przeglądy klimatyzaji
            samochodowej. Dezynfekcja klimatyzacji samochodowej.
        </div>
    </div>
</section>

<section id="about" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>O NAS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="aboutUS">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales erat ultrices eleifend
                vehicula. Fusce dignissim diam vel libero lobortis pharetra. Pellentesque sem mauris, maximus quis nisl
                vitae,
                facilisis accumsan dui. Donec laoreet ipsum in nisi feugiat, sit amet congue velit pulvinar. In
                elementum
                ultrices nulla viverra accumsan. Ut vulputate ultrices nisi vitae vestibulum. Aliquam accumsan auctor
                mollis.
                Donec consequat turpis a erat rutrum ultrices.
            </div>
        </div>
    </div>
</section>

<section id="services_section">
    <section class="container" id="accordion">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1" id="services">
                    <h2>Dostępne usługi</h2>

                    <div class="form-group">
                        <label>Szukaj usługi: </label>
                        <input type="text" id="search" placeholder="Wpisz nazwę usługi..." name="search" class="form-control">
                    </div>

                    <ul id="services-list">

                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="calendar">
    <section class="container" id="slots-description">
        <div class="row">
            <div class="col-lg-9" id="description">
                W warsztacie znajdują się dwa stanowiska:
                <ul>
                    <li>stanowisko do serwisowania klimatyzacji</li>
                    <li>stanowisko do ogólnych napraw oraz montażu instalacji gazowej</li>
                </ul>

                Prace mogą być prowadzone niezależnie od siebie na dwóch stanowiskach, dlatego jeśli zainteresowani są
                państwo usługami z zakresu serwisowania klimatyzaji, proszę się nie sugerować terminarzem dla
                stanowiska ogólnego oraz vice versa.
            </div>

            <div class="col-lg-3" id="exclamation">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </div>
        </div>
    </section>

    <section id="calendars" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="slots-picker">
                    <div id="slots-picker-title"><h2>Wybierz stanowisko</h2></div>
                    </br>
                    <button type="button" class="btn btn-primary btn-xl" id="ogolne-button">Ogólne</button>
                    <button type="button" class="btn btn-primary btn-xl" id="klimatyzacje-button">Klimatyzacja</button>
                    </br>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div id='calendar-element' class="col-lg-12"></div>
        </div>
    </section>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Kontakt</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3" id="contact-box">
                <div class="col-xs-6" id="contact-left">
                    Autoserwis - Janusz Ćwiek</br>
                    ul. Lelowska 21</br>
                    30-716 Szczekociny</br>
                </div>
                <div class="col-xs-6" id="contact-right">
                    <span class="glyphicon glyphicon-earphone"></span> 767 234 231</br>
                    <span class="glyphicon glyphicon-envelope"></span> janusz.cwiek@gmail.com
                </div>
            </div>
        </div>
    </div>
</section>
<section id="footer">
    <div id=footer-content>
        Copyright © 2017 | Created by: JF&RH&KN&AW
    </div>
</section>
</body>

</html>