<!DOCTYPE html>
<html>

<head>
    <META charset="UTF8"/>
    <META http-equiv="Content-type" content="text/html; charset=iso-8859-2"/>
    <META http-equiv="Content-Language" content="pl"/>
    <script src='lib/jquery.min.js'></script>

    <link rel="stylesheet" href="css/style.css"/>

    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="lib/collapsible-list.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="js/dbConnection.js"></script>


    <!--callbacks for db interactions-->
    <script>
        function getServicesCallback(responseJson){
            var json = JSON.parse(responseJson);
            $.each(json, function(i, cat){
                var category = addCategory(cat.kategoriaNazwa);
                $.each(cat.elementy, function(j, elem){
                    //console.log(elem);
                    addCategoryElement(category, elem.elementNazwa, elem.cena);
                });
            });
        }
    </script>

    <script>
        var $categoryTemplateHTML = `
            <li class="header"><%= categoryName %></li>
            <ul>
            </ul>
        `;
        var $categoryElementTemplateHTML = `
            <li class="element"><%= elementName %> <span class="price> <%= elementPrice %> </span></li>
        `;
        var $categoryTemplate = _.template($categoryTemplateHTML);
        var $categoryElementTemplate = _.template($categoryElementTemplateHTML);

        function sortCategories() {
            var mainUl = $('#services-list');
            var headers = mainUl.children('li').get();

            headers.sort(function(a, b) {
                var compA = $(a).find('.element-name').val().toUpperCase();
                var compB = $(b).find('.element-name').val().toUpperCase();
                return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
            })

            $.each(headers, function(idx, header) {
                var items = $(header).next();
                mainUl.append(header);
                mainUl.append(items);
            });
        }

        function addCategory(categoryName) {
            var mainUl = $('#services-list');
            if(categoryName == null){
                categoryName = 'Nowa kategoria';
            }
            return $($categoryTemplate({categoryName: categoryName})).appendTo(mainUl);
        }

        function addCategoryElement(category, elementName, elementPrice){
            var correspondingUl = category.next();
            correspondingUl.append($categoryElementTemplate({elementName: elementName, elementPrice: elementPrice}));
        }
    </script>

    <script>
        function sort() {
            var mainUl = $('#services-list');
            var headers = mainUl.children('li').get();

            headers.sort(function(a, b) {
                var compA = $(a).text().toUpperCase();
                var compB = $(b).text().toUpperCase();
                return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
            })

            $.each(headers, function(idx, header) {
                var items = $(header).next();
                mainUl.append(header);
                mainUl.append(items);
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            getServices(getServicesCallback);
            sortCategories();
            var collapsible = $('#services-list').collapsibleList('.header',{
                animate: true
            });
        });
    </script>
</head>

<body id="top">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Auto Serwis</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html#top">Start<span class="sr-only">(current)</span></a></li>
                    <li><a href="terminy.html">Terminy</a></li>
                    <li class="active"><a href="uslugi.html">Usługi</a></li>
                    <li><a href="index.html#contact">Kontakt</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<div class="navbar-spacer"></div>

<section class="container" id="accordion">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1" id="main">
                <h2>Dostępne usługi</h2>

                <div class="form-group">
                    <label>Szukaj usługi: </label>
                    <input type="text" id="search" placeholder="Wpisz nazwę usługi..." name="search" class="form-control">
                </div>

                <ul id="services-list">

                </ul>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div id=footer-content>
        Copyright © 2016 | Created by: KN&KF
    </div>
</section>

</body>

</html>